{% extends 'layout/base.html' %}

{% block content %}
<h2>Профиль</h2>
<hr>
<div class="main-info">
    <p>{{ object.name }}</p>
    <p>{{ object.lastname }}</p>
</div>
<hr>
<p>Дата рождения</p>
    {% if  object.age %}
        <p>{{ object.age }}</p>
    {% else %}
    <form method="post" id="date_post">
        {% csrf_token %}
        <input type="date" id="date_of_birth" >

        <input type="button" id="save_date" value="Сохранить">
    </form>
    {% endif %}
<hr>
<diV>
<p>Навыки</p>
    <form method="post" id="skills_post">
        {% csrf_token %}
        <input type="text" id="skill_name" id_project={{ object.id }}>
        <input type="button" id="save_skills" value="Сохранить">
    </form>
<div id="skills_all" id_prc={{ object.id }}></div>

</div>
{% endblock %}