{% extends 'layout/base.html' %}

{% block content %}
<h2>Профиль</h2>
<hr>
<p>{{ object.name }}</p>
<p>{{ object.lastname }}</p>
<hr>
<p>Дата рождения</p>
    <form method="post" id="date_post">
        {% csrf_token %}
        <input type="date" id="date_of_birth">
        <input type="button" id="save_date" value="Сохранить">
    </form> 
    {% comment %} <input type="date" id="date_of_birth">
    <input type="button" id="save_date" value="Сохранить">  {% endcomment %}
<hr>
<diV>
<p>Навыки</p>
{% comment %} <form>
<input type="text">
</form>  {% endcomment %}
</div>
{% endblock %}